
html, body {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color:white;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gdt-red{
  color:hsl(340, 100%, 50%);
}
.gdt-orange{
  color:hsl(40, 100%, 50%);
}
.gdt-yellow{
  color:hsl(70, 100%, 50%);
}
.gdt-green{
  color:hsl(130, 100%, 50%);
}
.gdt-blue{
  color:hsl(200, 100%, 50%);
}
.gdt-violet{
  color:hsl(270, 100%, 50%);
}
.gdt-text{
  color:rgb(255, 255, 255);
}
.gdt-dim{
  color:rgb(123, 123, 123);
}